
{% extends "appannonce/base.html" %}
{% block content %}
<div style="float: right;">
    <form method='get'>

	        {{ filter.form.as_p }}

		
        <input class="btn btn-primary" type='submit' value='Search' />
    </form>
</div>
	{% if request.GET.q  %}

	<p>showing search results for "{{ request.GET.q }}"</p><br/>
		<p>showing search results for "{{ request.GET.q }}"</p><br/>
	<p>showing search results for "{{ request.GET.q }}"</p><br/>


	{% endif %}
<div class="centerstage">

	{% for annonce in filter.qs %}

 	 	<h1> <a href="{% url "detailannonce" slug=annonce.slug  %}">{{ annonce.nom }}</a></h1>
 	 	<ul>
 	 		<li>{{annonce.prix}}</li>
 	 		<li>{{annonce.created|date:"D M Y"}}</li>
 	 		<li>{{annonce.description}}</li>
 	 		<li>{{ annonce.get_categorie_display }}</li>
 	 		<li>{{ annonce.get_ville_display }}</li>

 	 		<li>{{ annonce.get_typeannonce_display }}</li>
 	 	{% if annonce.lieuaproximité %}

 	 		<li><img src="{{annonce.lieuaproximité.url}}"></li>
 	 	{% endif %}
 	 	{% for c in annonce.galeries.all %}
 	 		{% if c.image %}
 	 		  <li><img src="{{ c.image.url }}"/></li>

 	 	    {% endif %}
 	 	{% endfor %}
 	 	</ul>
 	{% empty %}
 	 <p> rien d annonce que vous cherchez </p>

	{% endfor %}
</div>

<hr>

{% endblock %}
