
{% extends "appannonce/base.html" %}
{% block content %}
<div style="float: right;">
    <form method='GET' action=''>
        <option value="Ville">Ville</option>
		{% for annonce in annonces %}
		<option value="{{ annonce.slug }}">{{ annonce.ville }}</option>
		{% endfor %}
		<option value="categeorie">categeorie</option>
		{% for annonce in annonces %}
		 {{ annonce.categorie }}
		{% endfor %}
		<option value="type">type</option>
		{% for annonce in annonces %}
		<option value="{{ annonce.slug }}">{{ annonce.typeannonce }}</option>
		{% endfor %}
		
        <input class="btn btn-primary" type='submit' value='Search' />
    </form>
</div>
 <div class="centerstage">

{% for annonce in annonces %}
 	 	<h1> <a href="{% url "detailannonce" slug=annonce.slug  %}">{{ annonce.nom }}</a></h1>
 	 	<ul>
 	 		<li>{{annonce.prix}}</li>
 	 		<li>{{annonce.created|date:"D M Y"}}</li>
 	 		<li>{{annonce.description}}</li>
 	 		<li>{{ annonce.get_categorie_display }}</li>
 	 		<li>{{ annonce.get_ville_display }}</li>

 	 		<li>{{ annonce.get_typeannonce_display }}</li>
 	 	{% if annonce.lieuaproximité %}

 	 		<li><img src="{{annonce.lieuaproximité.url}}"></li>
 	 	{% endif %}
 	 		{% if annonce.images %}
 	 		  <li><img src="{{ annonce.images.all }}"/></li>

 	 	    {% endif %}

 	 	</ul>

	{% endfor %}
</div>

<hr>
{% if request.GET.q %}

<p>showing search results for "{{ request.GET.q }}"</p><br>

{% endif %}
{% endblock %}
