{% extends "appannonce/base.html" %}
{% block content %}
 <div class="centerstage">
 	 	<h1> {{ annonce.nom }}</h1>
 	 	<ul>
 	 		<li>{{annonce.prix}}</li>
 	 		<li>{{annonce.created|date:"D M Y"}}</li>
 	 		<li>{{annonce.description}}</li>
 	 		<li>{{annonce.get_ville_display}}</li>
 	 		<li>{{annonce.get_categorie_display}}</li>
 	 		<li>{{ annonce.get_typeannonce_display }}</li>
 	 		{% if annonce.lieuaproximité %}

 	 			<li><img src="{{annonce.lieuaproximité.url}}"></li>
 	 	    {% endif %}
 	 	  	{% for annonce in annonces.image_set.all %}
		 	 	{% if annonce.image %}
		 	 		  <li><img src="{{ annonce.image.url }}"/></li>
		 	 		  

		 	 	{% endif %}
		 	{% endfor %}

 	 		<a href="{% url "listannonce"  %}">Retour a la page liste des nouveaux annonces </a>


 	 	</ul>


 </div>
{% endblock %}