{% extends "appannonce/base.html" %}
{% block content %}
 <div class="centerstage">
 	 	<h1> {{ annonce.nom }}</h1>
 	 	<ul>
 	 		<li>{{annonce.prix}}</li>
 	 		<li>{{annonce.created|date:"D M Y"}}</li>
 	 		<li>{{annonce.description}}</li>
 	 		<li>{{annonce.category}}</li>
 	 		<li>{{annonce.ville}}</li>
 	 		<li><img src="{{ annonce.images.url }}"/></li>
 	 		<a href="{% url "listannonce"  %}">Retour a la page liste des nouveaux annonces </a>


 	 	</ul>


 </div>
{% endblock %}