{% extends "appannonce/base.html" %}
{% load staticfiles %}
{% block content %}
 <div class="centerstage">
 	{% for annonce in annonces %}
 	 	<h1> <a href="{% url "detailannonce" slug=annonce.slug  %}">{{ annonce.nom }}</a></h1>
 	 	<ul>
 	 		<li>{{annonce.prix}}</li>
 	 		<li>{{annonce.created|date:"D M Y"}}</li>
 	 		<li>{{annonce.description}}</li>
 	 		<li>{{ annonce.get_categorie_display }}</li>
 	 		<li>{{ annonce.get_ville_display }}</li>

 	 		<li>{{ annonce.get_typeannonce_display }}</li>
	 	 	{% if annonce.lieuaproximité %}

	 	 		<li><img src="{{annonce.lieuaproximité.url}}"></li>
	 	 	{% endif %}
	 	 	{% for c in annonces.galeries.all  %}
		 	 	{% if c.image %}
		 	 		 <a href="#" class="image"><img src="{{ c.image.url }}"/></a>

		 	 	{% endif %}
		 	{% endfor %}
 	 	</ul>

	{% endfor %}

 </div>
 
 {% include "appannonce/paginator.html" %}
{% endblock %}
